@charset "utf-8";
html {
	background: fixed;
	background-image: url("st_court.png");
	background-size: cover;
	width: 100%;
}
/* body styles */

body {
	width: 100%;
	min-width: 360px;
	max-width: 900px;
	min-height: 900px;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}
header {
	float: left;
	border-bottom: 2px solid rgb(0, 0, 154);
	width: 100%;
}
h1 {
	display: block;
	margin-left: 5px;
	margin-right: auto;
	width: 50%;
	padding-bottom: 5px;
}
/* navigation styles */

nav#siteNav li {
	float: left;
	margin: auto;
	color: black;
	display: block;
	width: 20%;
	text-align: center;
}
nav#siteNav a {
	height: 21px;
	line-height: 21px;
	color: white;
	Background-color: #3F48CC;
	display: block;
}
nav#siteNav ul {
	Width: 840px;
	border-left: 1px solid rgb(0, 0, 154);
	border-right: 1px solid rgb(0, 0, 154);
}
nav#siteNav a:hover {
	background-color: rgb(0, 0, 154);
	display: block;
	height: 21px;
	line-height: 21px;
	text-decoration: none;
	color: white;
}
/* image styles */

img {
	max-width: 75%;
	margin: auto;
	display: block;
}
img#coach {
	width: 14%;
	float: right;
}
/* section styles */

section {
	font-family: Times, serif;
	width: 100%;
	margin: auto;
	background-color: transparent;
}
section#main {
	font-family: Times, serif;
	width: 100%;
	margin: auto;
	background-color: rgba(133, 193, 233, 0.7);
}
section#table {
	float: left;
	width: 70%;
	height: 600px;
	font-family: Times, serif;
	margin: auto;
	background-color: rgba(133, 193, 233, 0.7);
}
section#form {
	float: right;
	width: 30%;
	height: 600px;
	font-family: Times, serif;
	margin: auto;
	background-color: lightBlue;
}
article {
	font-family: Times, serif;
}
article#tableInfo p {
	display: block;
	width: 100%;
}
/* footer styles */

footer {
	line-height: 40px;
	margin: auto;
	height: 40px;
	background-color: rgb(0, 0, 154);
	color: white;
	text-align: center;
	width: 100%;
}
footer>a {
	text-decoration: none;
	color: lightBlue;
}
div::after {
	clear: both;
	content: "";
	float: left;
}
/* content styles */

p {
	margin-left: 5px;
	position: relative;
	display: block;
	width: 50%;
}
h2 {
	letter-spacing: .25em;
	font-family: Times, serif;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	background-image: radial-gradient(circle closest-corner at 50% 50%, #3F48CC 30%, rgb(0, 0, 154) 101%)
}
section#table>h2 {
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	background-image: radial-gradient(circle closest-corner at 50% 50%, #3F48CC 30%, rgb(0, 0, 154) 101%)
}
section#form>h5 {
	letter-spacing: .20em;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	background-image: radial-gradient(circle closest-corner at 50% 50%, #3F48CC 30%, rgb(0, 0, 154) 101%)
}
h2#welcome {
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	background-image: radial-gradient(circle closest-corner at 50% 50%, #3F48CC 50%, rgb(0, 0, 154) 125%)
}
h5 {
	text-align: center;
	margin-left: 5px;
}
h6 {
	margin-left: 5px;
}
/* table styles */

table {
	border: solid;
	font-family: Times, serif;
}
table {
	margin: auto;
	background-color: lightBlue;
}
thead {
	border: solid;
	color: white;
}
td {
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px;
	font-size: 0.9em;
}
th#title {
	border: solid 5px #3F48CC;
	font-size: 1.2em;
}
th.day {
	border: solid 5px black;
}
th.coach {
	border: solid 3px rgb(0, 0, 154);
}
th.court {
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}
tfoot {
	font-size: 1.1em;
	text-align: center;
}
/* form styles */

td>a {
	text-decoration: none;
	color: lightBlue;
}
input, select, textarea {
	clear: both;
	display: block;
	float: left;
	margin: 5px 20px;
	width: 200px;
	font-family: Times, sans-serif;
	font-size: 1em;
}
/* column content styles */

div#column1 {
	border: solid 2px white;
	font-size: 0.8em;
	max-height: 100px;
	overflow-y: scroll;
	margin: 10px;
}
div#column2 {
	border: solid 2px black;
	font-size: 0.8em;
	max-height: 92px;
	overflow-y: scroll;
	width: 75%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
/* Horizontal images style */

div#imageLayout>img {
	float: left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}